<div class="row columns p20">
  <div class="text-center">
    <logo width="146"></logo>
    <div class="text-white" ng-include="'views/includes/version.html'"></div>
  </div>
  <h1 translate class="text-center">Browser unsupported</h1>
  <h3 class="text-center">
    Sorry, ajax-loader.gif
avatar.jpg
avatar.png
bank.svg
bought-pending.svg
bought.svg
buy-bitcoin.svg
change-avatar.png
clipo-pin-enter.png
clipo-pin.png
clipo-signin.png
clipo-signup1.png
clipo-signup2-1.png
clipo-signup2.png
clipo-signup3.png
copay_crowdin.png
favicon.ico
glidera-logo.png
icon-activity.svg
icon-bws.svg
icon-email.svg
icon-ledger.svg
icon-lock.svg
icon-moved.svg
icon-new.svg
icon-proposal.svg
icon-read-only.svg
icon-receive-history.svg
icon-receive.svg
icon-send.svg
icon-sent-history.svg
icon-sent.svg
icon-splash.png
icon-sync.svg
icon-testnet.svg
icon-tour1.png
icon-trezor.svg
icon-user.svg
icon-users.svg
icon-view.svg
icon-wallet.svg
icons
img-tour1.png
logo-negative-beta.svg
logo-negative.png
logo-negative.svg
logo.png
logo.svg
notification.png
qr.png
satoshi.gif
sell-bitcoin.svg
sold-pending.svg
sold.svg
step-1.png
step-1.svg
step-2.png
step-2.svg
step-3.png
step-3.svg
tour1.png
tour2.png
tour3.png
inDIGOpay is not supported by your browser. 
    Please use a current version of Google Chrome, Mozilla Firefox, Internet Explorer, Safari, or Opera. 
    <br>
    Note that localStorage should also be enabled (enabled by default in most cases).
  </h3>
</div>

